header {

    .add {
        .add__container {
            
            .nav__menu {
                width: 50px;
                height: 50px;
                align-items: center;
                display: none;
            }
            .close {
                width: 50px;
                height: 50px;
                align-items: center;
                display: none;
            }
        
            .nav__line {
                width: 100%;
                height: 1.5px;
                background: #000;
                position: relative;
            }
        
            .nav__line::before {
                content: '';
                position: absolute;
                top: -10px;
                width: 100%;
                height: 100%;
                background: black;
            }
        
            .nav__line::after {
                content: '';
                position: absolute;
                top: 10px;
                width: 100%;
                height: 100%;
                background: black;
            }
        
            .header__nav-list {
                display: flex;
                align-items: center;
                column-gap: 10px;
                padding: 20px 0;
                display: none;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            .add__email {
                font-size: 13px;
                line-height: 13px;
                color: #1C1B18;
                font-family: 'Muller';
                font-weight: 400;
            }

            .add__number {
                font-family: 'Muller';
                margin-top: 5px;
                @include font(22px, 900, #1C1B18, 22px);
            }

            .add__contact {
                text-align: end;
                display: flex;
                /* align-items: center; */
                flex-direction: column;
                display: none;
            }

            .add__content {
                display: flex;
                align-items: center;
                padding: 10px 0;

                .add__content-txt {
                    max-width: 134px;
                    font-size: 13px;
                    line-height: 21px;
                    font-family: 'Muller';
                    margin-left: 24px;
                    font-weight: 400;

                }
            }
        }

    }
}


.header__content {
    background: #F9F9F9;
    position: relative;
    overflow: hidden;

}

.img__txt {
    position: absolute;
    background: #eb2629;
    width: 351px;
    height: 100px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    font-style: italic;
    padding: 17px 20px;
    color: #fff;
    bottom: 14%;
    right: 45%;
}

.span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    font-weight: bold;

}



.header__nav {

    

    .header__nav-list {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 20px 0;
    }


    .header__nav-link {
        color: #1C1B18;
        font-size: 13px;
        line-height: 13px;
        font-family: 'Muller';
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-top: 20px;
        z-index: 5;



        &:hover {
            font-weight: 900;

            &::after {
                transform: skewX(-55deg);
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            background: #EB2629;
            height: 4px;
            width: 0;
            left: 0;
            bottom: 1px;
            transition: .5s;
            z-index: -1;
        }
    }
}

.content__container {
    display: flex;
    justify-content: space-between;
    padding: 70px 15px;
}


.header__content-card {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 40px;
}



.content__card-txt {
    text-decoration: underline;
    color: #1C1B18;
    cursor: pointer;
}

.header__content-banner {

    position: absolute;
    right: -4%;
    top: -50%;
    z-index: 1;
}





.header__content-title {
    font-size: 56px;
    font-weight: 900;
    line-height: 80px;
    font-family: 'Muller';
    max-width: 760px;
    color: #1C1B18;
    margin-bottom: 20px;
}

.header__content-txt {
    font-size: 18px;
    line-height: 30px;
    color: #1C1B18;
    max-width: 440px;
    font-weight: 300;
}