@media (max-width: 1900px) {

    .header__content-img {
        max-width: 70%;
    }

    .header__content-title {
        font-size: 38px;
    }

    .img__txt {
        bottom: 8%;
        right: 54%;
    }

    .header__content-banner {
        right: -24%;
        top: -29%;
        z-index: 1;
    }

    .number__card-img {
        max-width: 38%;
        top: 73% !important;
    }

    .comission__img {
        max-width: 36%;
        top: 2% !important;

    }

    .comission__card-banner-2 {
        max-width: 15%;
        bottom: -11% !important;
    }

    .free__card-2 {
        font-size: 28px !important;
    }

    .join__banner {
        max-width: 58%;
    }

    .join__car {
        right: 15% !important;
        top: 10% !important;
    }
}

@media (max-width: 1440px) {
    .header__content-banner {
        position: absolute;
        right: -24%;
        top: -30%;

    }

    .free__card-img2 {
        max-width: 41%;
    }
}


@media (max-width: 1366px) {
    .header__content-banner {
        position: absolute;
        right: -30%;
        top: -26%;

        .header__content-img {
            max-width: 66%;
        }
    }
}

@media (max-width: 1320px) {
    .header__content-banner {
        right: -32%;
    }

    .advantage__card-img {
        max-width: 45%;
    }

    .free__card-title {
        font-size: 24px;
    }
}

//  @media (max-width: 1290px) {
// } 
@media (max-width: 1290px) {
    .header__content-banner {
        right: -40%;
        top: -33%;
    }

    .header__content-img {
        max-width: 55%;
    }

    .header__content-title {
        font-size: 40px;
        line-height: 55px;
        max-width: 550px;
    }

    .img__txt {
        bottom: 5%;
        right: 51%;
    }


    .sale__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .barys__cards {
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 70px;
    }

    .number__card-img {
        max-width: 29%;
    }

    .number__cards {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    .free__card-img {
        bottom: 7% !important;
        max-width: 57%;
    }

    .join__title {
        font-size: 46px !important;
    }

    .join__txt {
        font-size: 24px !important;
    }

    .market__card {
        width: 380px;

        .market__card-txt {
            font-style: 14px;
        }
    }

    .free__card-2 {

        bottom: 11% !important;
        padding: 21px 40px;

        .free__card-title {
            font-size: 20px;
            line-height: 35px;
            font-weight: 700;
        }
    }
}

@media (max-width: 1170px) {

    .header__nav-list {
        display: block;
    }

    .content__container {
        justify-content: center;
        text-align: center;

        .header__content-banner {

            display: none;
        }

        .header__content-txt {
            margin: 0 auto;
        }

        .header__content-card {
            justify-content: center;
        }

    }

    .comission__img {
        top: 7% !important;
    }

    .comission__card-banner-2 {
        bottom: -10% !important;
    }

    .free__card {
        max-width: 750px !important;
        padding: 15px 20px 65px 75px !important;
        font-size: 14px !important;
    }

    .free__card-title {
        font-size: 16px !important;
    }

    .free__card-2 {
        bottom: 9% !important;
        left: 60% !important;
    }

}

@media(max-width: 992px) {


    .header__nav-list {
        height: 100vh;
        position: absolute;
        left: -100%;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: left 1s ease;
        display: none;
        row-gap: 5px;
        font-size: 24px;
    }

    .header__nav-list.active {
        left: 0;
    }



    .close {
        display: flex !important;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav__menu {
        display: flex !important;
    }

    .header__nav-list li a:hover {
        background: none;
        font-weight: 900;
        font-size: 24px;
    }




    .number__card-img {
        display: none;
    }

    .free__card-2 {
        padding: 21px 35px !important;
        bottom: 9% !important;
    }



}

@media (max-width: 800px) {
    .free__card-2 {
        line-height: 26px !important;
        bottom: 8% !important;
    }

}

@media(max-width: 790px) {
    .free__card-title {
        line-height: 24px !important;
        font-weight: 500;
    }

    .free__card-2 {
        bottom: 6% !important;
    }
}

@media (max-width: 767px) {



    .free__card-img {
        display: none;
    }

    .free__card-2 {
        bottom: 2% !important;
    }

    .join__banner {
        display: none;
    }

    .join__car {
        display: none;
    }

    .join__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join__cards {
        flex-direction: column;

        .join__card {
            margin-left: 0 !important;
        }
    }

    .join__map {
        height: 250px;
        margin-top: 150px !important;
    }

    .footer__container {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }

    .footer__list:last-child {
        text-align: center !important;
    }

    .add__container {
        flex-direction: column;
        row-gap: 20px;

        .add__contact {
            text-align: center !important;
        }
    }

    .advantage {
        padding-bottom: 170px !important;
    }

    .comission__img {
        display: none;
    }

    .join__txt {
        padding: 20px 0 50px !important;
    }

    .join__content-txt {
        font-size: 18px !important;
        line-height: 26px !important;
        font-weight: 700 !important;
        text-align: center !important;
    }
    .join__card-txt{
        font-size: 24px !important;
    }
}


@media (max-width: 736px) {}

/* @media (max-width: 734px) {} */
/* @media (max-width: 684px) {} */
@media (max-width: 667px) {

    .free__card {
        padding: 15px 20px 75px 20px !important;

        .free__card-txt {
            text-align: center !important;
        }
    }

    .free__card-2 {
        width: 320px;
        left: 50% !important;
    }

    .comission__title {
        font-size: 24px !important;
    }

    .comission__card {
        padding: 35px !important;
        border: 5px solid #eb2629 !important;
    }

    .comission__title-2 {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .comission__txt {
        font-size: 24px !important;
        line-height: 40px !important;
        margin-top: 15px;
    }

    .comission__card-banner-2 {
        bottom: -7% !important;
    }

    .free__card-title {
        font-size: 14px !important;
        padding: 5px 10px;
        line-height: 20px;
        font-weight: 500;
    }

    .merket__title {
        font-size: 30px !important;
    }

    .advantage__title {
        font-size: 30px !important;
    }

    .sale__title {
        font-size: 30px !important;
    }

    .barys__title-2 {
        font-size: 30px !important;
        text-align: center;
    }

    .barys__title {
        font-size: 30px !important;
        text-align: center;
    }

    .header__content-title {
        font-size: 26px !important;
        line-height: 36px;
    }

    .join__title {
        font-size: 30px !important;
    }

    .join__content-txt {
        font-size: 18px !important;
    }
}

@media (max-width: 576px) {



    .free__card-2 {
        width: 320px;
        bottom: 8%;
    }

    .map {
        width: 25%;
    }

    .join__title {
        line-height: 24px !important;
    }

    .join__txt {
        font-size: 18px !important;
        line-height: 24px !important;
    }

    .join__card-txt {
        font-size: 24px !important;
        line-height: 40px !important;
    }
}

@media (max-width: 414px) {

    .comission__card {
        padding: 15px !important;
        border: 3px solid #eb2629 !important;

        .comission__card-txt {
            font-size: 13px !important;
            font-weight: 700 !important;
        }
    }

    .sale__card-txt {
        font-size: 12px !important;
        font-weight: 700 !important;
    }

    .free__card-title {
        font-size: 14px !important;
        padding: 5px 10px;
        line-height: 20px;
        font-weight: 500;
    }

    .merket__title {
        font-size: 24px !important;
    }

    .advantage__title {
        font-size: 24px !important;
    }

    .sale__title {
        font-size: 24px !important;
    }

    .barys__title-2 {
        font-size: 24px !important;
        text-align: center;
    }

    .barys__title {
        font-size: 24px !important;
        text-align: center;
    }

    .header__content-title {
        font-size: 24px !important;
        line-height: 36px !important;
    }

    .header__content-txt {
        font-size: 16px;
        font-weight: 400;
    }

    .join__title {
        font-size: 24px !important;
    }

    .join__content-txt {
        font-size: 18px !important;
    }

    .comission__card-banner-2 {
        display: none;
    }

    .free__card-2 {
        width: 245px;
        padding: 20px !important;
    }

    .free__card-title {
        font-size: 11px !important;
    }

    .market__card-txt {
        font-size: 14px !important;
    }

    .join__card-txt {
        font-size: 18px !important;
    }
}

/* @media (max-width: 412px) {} */
/* @media (max-width: 375px) {} */
@media (max-width: 360px) {
    .comission__card {
        padding: 10px !important;
        border: 2px solid #eb2629 !important;

        .comission__card-txt {
            font-size: 11px !important;
            font-weight: 500 !important;
        }
    }
}

/* @media (max-width: 320px) {} */