* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
*::-webkit-scrollbar {
    width: 7px;
    background: #1C1B18;
}
*::-webkit-scrollbar-thumb {
    background: #eb2629;
    border-radius: 10px;
}

body{
    font-family: 'Muller';
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}
