<header>



    <div class="add">
        <div class="container add__container">
            <div class="add__content">
                <img src="../img/logo (1) 1.svg" alt="">
                
                <p class="add__content-txt">
                    Крупный авторынок в Казахстане
                </p>
            </div>
            <div class="nav__menu">
                <span class="nav__line"></span>
            </div>
            <div class="add__contact">
                <a href="mailto:one393752@gmail.com" class="add__email">e-mail: info@gmail.ru</a>
                <a href="tel:+998331280020" class="add__number">+7 700 635 00 00</a>
            </div>
        </div>
    </div>


    


</header>
<div class="header__content">
    
    <nav class="header__nav">
            <div class="container">
                
                <ul class="header__nav-list">
                    
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">как продать</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">самостоятельно</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">выкуп авто</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">автокоммисионка</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">преимущества авторынка</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#!" class="header__nav-link">карта проезда</a>
                    </li>
                </ul>
               
            </div>

        </nav>
        <div class="container content__container">
            
            <div class="header__content-desk">
                <h2 class="header__content-title">
                    Продайте свой автомобиль быстро, безопасно и выгодно
                </h2>
                <!-- <div class="header__content-txt">
                    Авторынок BarysAuto открыт для всех, желающих продать автомобиль с пробегом
                </div> -->
                <div class="header__content-card">
                    <img src="../img/pngwing 5.svg" alt="" class="map">
                    <a href="#!" class="content__card-txt">
                        Карта проезда
                    </a>
                </div>
            </div>
            <div class="header__content-banner">
                <img src="../img/Group 33.webp" alt="" class="header__content-img">
                <div class="img__txt"> <span>Приезжайте!</span>  Алматинская область, г. Каскелен, трасса Алматы-Бишкек
                </div>
            </div>
        </div>

        
    </div>
