<main>


    <section class="barys">
        <div class="container">
            <h2 class="barys__title">
                Как выгодно продать машину на авторынке <span>BarysAuto</span>
            </h2>

            <div class="barys__cards">
                <div class="barys__card">
                    <h2 class="card__title">Самостоятельно</h2>
                    <p class="card__txt">Продадите машину по той цене, по какой захотите, за минусом стоимости
                        машино-места и возможного торга.</p>
                </div>
                <div class="barys__card">
                    <h2 class="card__title">На условиях выкупа</h2>
                    <p class="card__txt">ППолучите «живые» деньги за б/у авто по рыночной цене, быстро, в течение одного
                        часа.</p>
                </div>
                <div class="barys__card">
                    <h2 class="card__title">Автокомиссионка</h2>
                    <p class="card__txt">Продажа авто без затрат времени и лишних расходов, по разумной цене,
                        согласованной с владельцем.</p>
                </div>
            </div>
            <h2 class="barys__title-2">
                Самый <span>выгодный</span> и надежный способ продать авто — сделать это на <span>авторынке</span>
            </h2>

            <img src="../img/ford-fusion-2017 1.webp" alt="" class="number__card-img">
            <div class="number__cards">
                <div class="number__card">
                    <p class="number__card-txt">
                        На авторынке вы не пользуетесь услугами перекупщиков, дилеров, интернет-площадок и аукционов.
                        Торговля на авторынке — традиционный и проверенный способ, который предпочитают как продавцы,
                        так и покупатели.
                    </p>
                </div>
                <div class="number__card">
                    <p class="number__card-txt">
                        Каждый, кто желает купить машину с пробегом, хочет лично увидеть транспортное средство,
                        убедиться в его исправности и заявленных технических характеристиках. Авторынок — самое
                        безопасное место для продаж автотранспорта.
                    </p>
                </div>
                <div class="number__card">
                    <p class="number__card-txt">
                        Авторынок — классическое, удобное и надежное место, где продавец и покупатель общаются напрямую,
                        могут открыто продемонстрировать все преимущества автомобиля и за короткое время совершить
                        сделку купли-продажи.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="sale">
        <div class="container">
            <h2 class="sale__title">
                Хотите продать авто самостоятельно?
            </h2>
            <p class="sale__txt">Все преимущества самостоятельной торговли на авторынке</p>


            <div class="sale__cards">
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        При заезде вы оплачиваете всего 2000 тг за машино-место, паркуетесь и продаёте авто.
                    </p>
                </div>
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        Вы самостоятельно, на своё усмотрение устанавливаете цену и можете продать автомобиль на самых
                        выгодных условиях.
                    </p>
                </div>
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        Вам не нужно делать сотни фото, разбрасывать свои объявления по разным сайтам и мучительно ждать
                        звонков.
                    </p>
                </div>
            </div>
            <div class="sale__cards">
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        Все вопросы вы решаете «здесь и сейчас»: общаетесь с потенциальным покупателем, совершаете
                        сделку.
                    </p>
                </div>
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        Вы не тратите время на многочисленные встречи с покупателями, которые зачастую проявляют простое
                        любопытство.
                    </p>
                </div>
                <div class="sale__card">
                    <div class="card__sucsess">
                        <img src="../img/Vector.webp" alt="" class="sucsess__img">
                    </div>
                    <p class="sale__card-txt">
                        Вы пригоняйте машину на нашу площадку, и покупатель сам вас находит, и не один, а десятки и
                        сотни в день.
                    </p>
                </div>
            </div>
            <div class="_sale__card">
                <div class="card__sucsess">
                    <img src="../img/Vector.webp" alt="" class="sucsess__img">
                </div>
                <p class="sale__card-txt">
                    Преимущества самостоятельной продажи на авторынке — безопасность, открытость, доступность,
                    возможность получить за машину максимально высокую цену. Это стоит того, чтобы потратить своё время.
                </p>
            </div>
        </div>
    </section>

    <section class="comission">
        <div class="container">
            <h2 class="comission__title">
                <span>Нужно продать автомобиль СРОЧНО?</span>
                Быстро и без головной боли продать машину поможет
                услуга свободного <span-2>ВЫКУПА за 1 час</span-2>
            </h2>
            <img src="../img/pngwing 6.webp" alt="" class="comission__img">
            <div class="comission__card">
                <h2 class="comission__card-title">
                    BarysAuto предлагает услугу выкупа авто.
                </h2>
                <p class="comission__card-txt">
                    <span>●</span>За автомобиль вы получаете наиболее выгодную, конкурентоспособную цену. Вы пригоняете
                    авто и в течение 1 часа уже получаете «живые» деньги или перечисление на карту.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>Свободный выкуп подразумевает, что вы продаете своё подержанное авто без каких-либо
                    обязательств со своей стороны покупать новое ТС.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>Специалисты проводят диагностику и оценку автомобиля по ряду параметров: модель,
                    модификация, год выпуска, техническое и внешнее состояние, количество пробега.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>После оценки мы предлагаем объективную рыночную цену за ваш автомобиль с учетом
                    состояния машины, популярности марки, ликвидности ТС.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>Вы тратите минимум времени и нервов, приезжаете к нам в любое удобное время, можете
                    предварительно позвонить, если есть вопросы.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>Мы оцениваем автомобиль честно, объективно, адекватно. Продажа авто путем свободного
                    выкупа обойдется вам не более чем в 10-15% ее рыночной стоимости. Это выше, чем дадут в
                    автоломбарде.
                </p>
                <p class="comission__card-txt">
                    <span>●</span>Преимущества автовыкупа: быстро, безопасно, без лишних хлопот, можно продать авто
                    срочно и получить адекватную сумму в тот же день.
                </p>

            </div>
            <h2 class="comission__title-2">
                Продажа авто на условиях <span>комиссионной торговли</span>
            </h2>
            <div class="comission__txt">
                Подойдёт тем, кто не спешит и не хочет продавать машину самостоятельно
            </div>
            <img src="../img/biznes-plan-avtoservisa 1.webp" alt="" class="comission__card-banner">
            <img src="../img/klipartz 4.webp" alt="" class="comission__card-banner-2">
            <div class="comission__card-2">
                <p class="comission__card-txt2">
                    <span>1</span>Если вы не торопитесь продать машину, вам не нужны деньги в срочном порядке, при этом
                    вы не хотите тратить личное время, чтобы продавать ТС на авторынке — воспользуйтесь услугой
                    автокомиссионной торговли.
                </p>
                <p class="comission__card-txt2">
                    <span>2</span>Автокомиссионка — оптимальный способ продать машину по адекватной цене. Вы не
                    потеряете в деньгах в том объеме, как это имеет место при срочном выкупе автомобиля.
                </p>
                <p class="comission__card-txt2">
                    <span>3</span>На авторынке BarysAuto вам сделают самое выгодное ценовое предложение на условиях
                    комиссионной торговли.
                </p>
                <p class="comission__card-txt2">
                    <span>4</span>При передаче автомобиля на комиссию автовладелец самостоятельно назначает цену.
                    Продажи начинаются по цене продавца, даже если начальная цена несколько завышена. В дальнейшем цена
                    может корректироваться в соответствии с реальным спросом потенциальных покупателей.
                </p>
                <p class="comission__card-txt2">
                    <span>5</span>Перед продажей специалисты в обязательном порядке проводят диагностику и оценку
                    автомобиля в соответствии с рядом параметров: модель, модификация, год выпуска, техническое и
                    внешнее состояние, количество пробега.
                </p>
                <p class="comission__card-txt2">
                    <span>6</span>После оценки клиенту озвучивают реальную рыночную цену, по которой рекомендуется
                    продавать автомобиль данной марки, модели и состояния.
                </p>
                <p class="comission__card-txt2">
                    <span>7</span>Если оценочная стоимость значительно ниже стоимости, назначаемой продавцом, компания
                    вправе отказать клиенту в сотрудничестве. При согласовании цены машина отправляется на продажу.
                </p>
                <p class="comission__card-txt2">
                    <span>8</span>Преимущества автокомиссионной торговли: автовладелец не тратит время и продаёт машину
                    по приемлемой цене. Стоимость комиссионного вознаграждения не превышает 2-3% стоимости автомобиля.
                    Это самый простой и доступный способ продаж ТС.
                </p>
            </div>
        </div>
    </section>

    <section class="advantage">
        <div class="container">

            <h2 class="advantage__title">
                Преимущества авторынка <span>BarysAuto</span>
            </h2>

            <div class="advantage__cards">
                <div class="advantage__card">
                    <img src="../img/klipartz 3.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
                <div class="advantage__card">
                    <img src="../img/dokumenty_poisk 1.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
                <div class="advantage__card">
                    <img src="../img/pngwing 7.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
                <div class="advantage__card">
                    <img src="../img/оплата-png-1 1.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
                <div class="advantage__card">
                    <img src="../img/toyota_PNG1954 2.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
                <div class="advantage__card">
                    <img src="../img/abiword 1.webp" alt="" class="advantage__card-img">
                    <h3 class="advantage__card-title">
                        безопасность сделки
                    </h3>
                    <p class="advantage__card-txt">
                        Торговля на авторынке проходит открыто и безопасно для обеих сторон: для покупателя и продавца.
                    </p>
                </div>
            </div>
            <img src="../img/pngwing 11.webp" alt="" class="free__card-img">
            <div class="free__card">
                <p class="free__card-txt">
                    <span>БЕСПЛАТНО</span> консультируем, даём рекомендации автовладельцам, как подготовить машину к
                    продаже, а также выполняем на месте предпродажную подготовку и техническое обслуживание. При
                    необходимости, заменим запчасти, сделаем ремонт, поменяем расходники. Это позволит продать машину
                    быстрее и дороже.
                </p>
            </div>
            <div class="free__card-2">
                <p class="free__card-title">
                    Сейчас на площадке BarysAuto доступно к продаже
                    более 50 000 автомобилей
                </p>
                <img src="../img/pngwing 10.webp" alt="" class="free__card-img2">
            </div>

        </div>
    </section>

    <section class="market">
        <div class="container">
            <h2 class="merket__title">
                Преимущества авторынка <span>BarysAuto</span>
            </h2>
            <div class="market__cards">
                <div class="market__card">
                    <img src="../img/Vector2.webp" alt="" class="market__card-img">
                    <div class="market__card-title">
                        частные б/у автомобилы
                    </div>
                    <div class="market__card-txt">
                        Седаны, хэтчбеки, универсалы, джипы, кроссоверы, пикапы
                    </div>
                </div>
                <div class="market__card">
                    <img src="../img/delivery 1.webp" alt="" class="market__card-img">
                    <div class="market__card-title">
                        Мотоциклы и мототехника
                    </div>
                    <div class="market__card-txt">
                        Мопеды, квадроциклы, спортивные, дорожные мотоциклы
                    </div>
                </div>
                <div class="market__card">
                    <img src="../img/car (2) 1.webp" alt="" class="market__card-img">
                    <div class="market__card-title">
                        Коммерческий транспорт
                    </div>
                    <div class="market__card-txt">
                        Прицепы, полуприцепы, грузовики средней и малой тоннажности
                    </div>
                </div>
                <div class="market__card">
                    <img src="../img/delivery-truck 1.webp" alt="" class="market__card-img">
                    <div class="market__card-title">
                        Грузовики и спецтехника
                    </div>
                    <div class="market__card-txt">
                        Прицепы, полуприцепы, грузовики средней и малой тоннажности
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="join">
        <img src="../img/Group 32.webp" alt="" class="join__banner">
        <div class="container join__container">
            <h2 class="join__title">
                Присоединяйтесь!
            </h2>
            <p class="join__txt">
                Продайте свое авто быстро и без проблем
            </p>
            <div class="join__content">
                <p class="join__content-txt">
                    Алматинская область, г. Каскелен,
                    трасса Алматы-Бишкек
                </p>
            </div>
            <div class="join__cards">
                <div class="join__card">
                    <div class="join__card-txt">
                        7 700 635 00 00
                    </div>
                </div>
                <div class="join__card-content">
                    <img src="../img/webpwing 5.svg" alt="">
                    <a href="#!" class="content__card-txt">
                        Карта проезда
                    </a>
                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.9660105071675!2d71.39323781573181!3d51.109087279571625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585ce9e1d0cc9%3A0xb48f28259895c166!2z0JHQsNGA0YvRgSDQkNGA0LXQvdCw!5e0!3m2!1sru!2s!4v1626070989941!5m2!1sru!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="join__map"></iframe>
    </section>

</main>